<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Data</title>
</head>

<body>
    <h1>Edit Data</h1>
    <hr>
    <div class="container">
        <form action="" method="post">

            <div class="row">
                <div class="col-15">
                    <label for="string">ID</label>
                </div>
                <div class="col-85">
                    <input type="text" name="id" placeholder="Tulis ID" value="<%= item.id%>" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="string">String</label>
                </div>
                <div class="col-85">
                    <input type="text" name="string" placeholder="Tulis String" value="<%= item.string %>" required>
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="integer">Integer</label>
                </div>
                <div class="col-85">
                    <input type="number" name="integer" placeholder="Tulis Integer" value="<%= item.integer %>"
                        required>
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="float">Float</label>
                </div>
                <div class="col-85">
                    <input type="number" name="float" placeholder="Tulis Float" value="<%= item.float %>" required
                        step="0.005">
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="date">Date</label>
                </div>
                <div class="col-85">
                    <input type="date" name="date" value="<%= item.date %>" required>
                </div>
            </div>

            <div class="row">
                <div class="col-15">
                    <label for="boolean">Boolean</label>
                </div>
                <div class="col-85">
                    <select id="boolean" , name="boolean" required>
                        <option value="" disabled selected>--Choose Boolean--</option>
                        <option value=1 <%=item.boolean==1 ? 'selected' : '' %>>true</option>
                        <option value=2 <%=item.boolean==0 ? 'selected' : '' %>>false</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
    <br>
    <a href="/" class="btnadd">Back</a>
</body>

</html>